<template>
  <transition name="modal">
    <div v-if="message !== ''" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="inner-wrapper">
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";
import state from "../store/initialState";

export default {
  data: function() {
    return {
      message: ''
    };
  },
  mounted() {
    let _this = this;
    setTimeout(function () {
      _this.$emit('closeStatus');
    }, 1000);
  },
  computed: {
    ...mapState([
      "money",
      "you_win",
      "winTot"
    ])
  },
  watch: {
    you_win(value) {
      let message;
      if (value == 1) {
        message = "HAI VINTO €" + state.winTot + "!";
      } else if (value == 2) {
        message = "HAI PERSO!";
      }

      this.message = message;
    },
    money(value) {
      if (value < state.moneyStaked) {
        this.message = 'GAME OVER!';
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    max-width: 55vw;
    margin: 0 auto;
    padding: 5px;
    background: rgb(164,116,0);
    background: -moz-linear-gradient(90deg, rgba(164,116,0,1) 0%, rgba(232,193,123,1) 20%, rgba(255,228,180,1) 50%, rgba(232,193,123,1) 80%, rgba(164,116,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(164,116,0,1) 0%, rgba(232,193,123,1) 20%, rgba(255,228,180,1) 50%, rgba(232,193,123,1) 80%, rgba(164,116,0,1) 100%);
    background: linear-gradient(90deg, rgba(164,116,0,1) 0%, rgba(232,193,123,1) 20%, rgba(255,228,180,1) 50%, rgba(232,193,123,1) 80%, rgba(164,116,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a47400",endColorstr="#a47400",GradientType=1);
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    .inner-wrapper {
      text-align: center;
      border-radius: 33px;
      background-color: #124700;
      padding: 1.5rem 7rem;
      color: #ffffff;
      font-size: 4rem;
      font-family: 'AbhayaLibre-Extra';
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
