<template>
  <div class="betting-table">
    <div class="betting-table__landscape">
      <div class="table-landscape" style="">
        <div class="numbers">
          <div class="num green zero" v-bind:class="classBindHovering(0)">
            <span>0</span>
          </div>
          <div class="num red" v-bind:class="classBindHovering(3)">
            <span>3</span>
          </div>
          <div class="num black" v-bind:class="classBindHovering(6)">
            <span>6</span>
          </div>
          <div class="num red" v-bind:class="classBindHovering(9)">
            <span>9</span>
          </div>
          <div class="num red" v-bind:class="classBindHovering(12)">
            <span>12</span>
          </div>
          <div class="sector" data-sector="1"><span class="vt">2:1</span></div>
          <div class="num black" v-bind:class="classBindHovering(2)">
            <span>2</span>
          </div>
          <div class="num red" v-bind:class="classBindHovering(5)">
            <span>5</span>
          </div>
          <div class="num black" v-bind:class="classBindHovering(8)">
            <span>8</span>
          </div>
          <div class="num black" v-bind:class="classBindHovering(11)">
            <span>11</span>
          </div>
          <div class="sector" data-sector="2"><span class="vt">2:1</span></div>
          <div class="num red" v-bind:class="classBindHovering(1)">
            <span>1</span>
          </div>
          <div class="num black" v-bind:class="classBindHovering(4)">
            <span>4</span>
          </div>
          <div class="num red" v-bind:class="classBindHovering(7)">
            <span>7</span>
          </div>
          <div class="num black" v-bind:class="classBindHovering(10)">
            <span>10</span>
          </div>
          <div class="sector" data-sector="3"><span class="vt">2:1</span></div>
        </div>
        <div class="sectors">
          <div class="">
            <div class="sector" data-sector="4">1-6</div>
            <div class="sector" data-sector="5">4-9</div>
            <div class="sector" data-sector="6">7-12</div>
          </div>
          <div>
            <div class="sector num-type" data-sector="7">PARI</div>
            <div class="sector num-color" data-sector="8">
              <span class="red"></span>
            </div>
            <div class="sector num-color" data-sector="9">
              <span class="black"></span>
            </div>
            <div class="sector num-type" data-sector="10" @click="lld">DISPARI</div>
          </div>
        </div>
        <div class="controls">
          <CellButton :buttonData="buttonData[0]" :latestChip="getLatestChip(0)" />
          <div class="col1">
            <div class="row1">
              <CellButton :buttonData="buttonData[1]" :latestChip="getLatestChip(1)" />
              <CellButton :buttonData="buttonData[2]" :latestChip="getLatestChip(2)" />
            </div>
            <div class="row2">
              <CellButton :buttonData="buttonData[3]" :latestChip="getLatestChip(3)" />
              <CellButton :buttonData="buttonData[4]" :latestChip="getLatestChip(4)" />
              <CellButton :buttonData="buttonData[5]" :latestChip="getLatestChip(5)" />
              <CellButton :buttonData="buttonData[6]" :latestChip="getLatestChip(6)" />
            </div>
            <div class="row3">
              <CellButton :buttonData="buttonData[7]" :latestChip="getLatestChip(7)" />
              <CellButton :buttonData="buttonData[8]" :latestChip="getLatestChip(8)" />
              <CellButton :buttonData="buttonData[9]" :latestChip="getLatestChip(9)" />
              <CellButton :buttonData="buttonData[10]" :latestChip="getLatestChip(10)" />
            </div>
            <div class="row4">
              <CellButton :buttonData="buttonData[42]" :latestChip="getLatestChip(42)" />
            </div>
            <div class="row5">
              <CellButton :buttonData="buttonData[45]" :latestChip="getLatestChip(45)" />
            </div>
          </div>
          <div class="col2">
            <div class="row1">
              <CellButton :buttonData="buttonData[11]" :latestChip="getLatestChip(11)" />
              <CellButton :buttonData="buttonData[12]" :latestChip="getLatestChip(12)" />
              <CellButton :buttonData="buttonData[13]" :latestChip="getLatestChip(13)" />
            </div>
            <div class="row2">
              <CellButton :buttonData="buttonData[14]" :latestChip="getLatestChip(14)" />
              <CellButton :buttonData="buttonData[15]" :latestChip="getLatestChip(15)" />
              <CellButton :buttonData="buttonData[16]" :latestChip="getLatestChip(16)" />
              <CellButton :buttonData="buttonData[17]" :latestChip="getLatestChip(17)" />
            </div>
            <div class="row3">
              <CellButton :buttonData="buttonData[18]" :latestChip="getLatestChip(18)" />
              <CellButton :buttonData="buttonData[19]" :latestChip="getLatestChip(19)" />
              <CellButton :buttonData="buttonData[20]" :latestChip="getLatestChip(20)" />
              <CellButton :buttonData="buttonData[21]" :latestChip="getLatestChip(21)" />
            </div>
            <div class="row5">
              <CellButton :buttonData="buttonData[46]" :latestChip="getLatestChip(46)" />
            </div>
          </div>
          <div class="col3">
            <div class="row1">
              <CellButton :buttonData="buttonData[22]" :latestChip="getLatestChip(22)" />
              <CellButton :buttonData="buttonData[23]" :latestChip="getLatestChip(23)" />
            </div>
            <div class="row2">
              <CellButton :buttonData="buttonData[24]" :latestChip="getLatestChip(24)" />
              <CellButton :buttonData="buttonData[25]" :latestChip="getLatestChip(25)" />
              <CellButton :buttonData="buttonData[26]" :latestChip="getLatestChip(26)" />
              <CellButton :buttonData="buttonData[27]" :latestChip="getLatestChip(27)" />
            </div>
            <div class="row3">
              <CellButton :buttonData="buttonData[28]" :latestChip="getLatestChip(28)" />
              <CellButton :buttonData="buttonData[29]" :latestChip="getLatestChip(29)" />
              <CellButton :buttonData="buttonData[30]" :latestChip="getLatestChip(30)" />
              <CellButton :buttonData="buttonData[31]" :latestChip="getLatestChip(31)" />
            </div>
            <div class="row4">
              <CellButton :buttonData="buttonData[43]" :latestChip="getLatestChip(43)" />
            </div>
            <div class="row5">
              <CellButton :buttonData="buttonData[47]" :latestChip="getLatestChip(47)" />
            </div>
          </div>
          <div class="col4">
            <div class="row1">
              <CellButton :buttonData="buttonData[32]" :latestChip="getLatestChip(32)" />
              <CellButton :buttonData="buttonData[33]" :latestChip="getLatestChip(33)" />
            </div>
            <div class="row2">
              <CellButton :buttonData="buttonData[34]" :latestChip="getLatestChip(34)" />
              <CellButton :buttonData="buttonData[35]" :latestChip="getLatestChip(35)" />
              <CellButton :buttonData="buttonData[36]" :latestChip="getLatestChip(36)" />
              <CellButton :buttonData="buttonData[37]" :latestChip="getLatestChip(37)" />
            </div>
            <div class="row3">
              <CellButton :buttonData="buttonData[38]" :latestChip="getLatestChip(38)" />
              <CellButton :buttonData="buttonData[39]" :latestChip="getLatestChip(39)" />
              <CellButton :buttonData="buttonData[40]" :latestChip="getLatestChip(40)" />
              <CellButton :buttonData="buttonData[41]" :latestChip="getLatestChip(41)" />
            </div>
            <div class="row4">
              <CellButton :buttonData="buttonData[44]" :latestChip="getLatestChip(44)" />
            </div>
            <div class="row5">
              <CellButton :buttonData="buttonData[48]" :latestChip="getLatestChip(48)" />
            </div>
          </div>
          <div class="col5">
            <div class="row1">
              <CellButton :buttonData="buttonData[49]" :latestChip="getLatestChip(49)" />
            </div>
            <div class="row2">
              <CellButton :buttonData="buttonData[50]" :latestChip="getLatestChip(50)" />
            </div>
            <div class="row3">
              <CellButton :buttonData="buttonData[51]" :latestChip="getLatestChip(51)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";
  import CellButton from "../components/CellButton";

  export default {
    name: "BettingTable",
    components: {
      CellButton,
    },
    data() {
      return {
        hoverNumbers: [], // current hovering cell
        buttonData: [{
            id: 0,
            cells: [0],
            buttonType: "btn-zero",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 1,
            cells: [0, 3],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 2,
            cells: [3],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 3,
            cells: [0, 2, 3],
            buttonType: "center",
            winning: 3,
            stakeType: "TRE",
            max: 300,
          },
          {
            id: 4,
            cells: [0, 2],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 5,
            cells: [2, 3],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 6,
            cells: [2],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 7,
            cells: [0, 1, 2],
            buttonType: "center",
            winning: 3,
            stakeType: "TRE",
            max: 300,
          },
          {
            id: 8,
            cells: [0, 1],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 9,
            cells: [1, 2],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 10,
            cells: [1],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 11,
            cells: [3, 6],
            buttonType: "center",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 12,
            cells: [3, 6],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 13,
            cells: [6],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 14,
            cells: [2, 3, 5, 6],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 400,
          },
          {
            id: 15,
            cells: [2, 5],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 16,
            cells: [5, 6],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 17,
            cells: [5],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 18,
            cells: [1, 2, 4, 5],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 400,
          },
          {
            id: 19,
            cells: [1, 4],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 20,
            cells: [4, 5],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 21,
            cells: [4],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 22,
            cells: [6, 9],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 23,
            cells: [9],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 24,
            cells: [5, 6, 8, 9],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 200,
          },
          {
            id: 25,
            cells: [5, 8],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 26,
            cells: [8, 9],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 27,
            cells: [8],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 28,
            cells: [4, 5, 7, 8],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 400,
          },
          {
            id: 29,
            cells: [4, 7],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 30,
            cells: [7, 8],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 31,
            cells: [7],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 32,
            cells: [9, 12],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 33,
            cells: [12],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 34,
            cells: [8, 9, 12, 11],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 400,
          },
          {
            id: 35,
            cells: [8, 11],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 36,
            cells: [12, 11],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 37,
            cells: [11],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 38,
            cells: [7, 8, 10, 11],
            buttonType: "center",
            winning: 2,
            stakeType: "CARRÉ",
            max: 400,
          },
          {
            id: 39,
            cells: [7, 10],
            buttonType: "vertical",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 40,
            cells: [10, 11],
            buttonType: "horizontal",
            winning: 5,
            stakeType: "A CAVALLO",
            max: 200,
          },
          {
            id: 41,
            cells: [10],
            buttonType: "self",
            winning: 11,
            stakeType: "EN PLAIN",
            max: 100,
          },
          {
            id: 42,
            cells: [1, 2, 3, 4, 5, 6],
            buttonType: "self",
            winning: 1,
            stakeType: "MEZZA DOZZINA",
            max: 600,
          },
          {
            id: 43,
            cells: [4, 5, 6, 7, 8, 9],
            buttonType: "self",
            winning: 1,
            stakeType: "MEZZA DOZZINA",
            max: 600,
          },
          {
            id: 44,
            cells: [7, 8, 9, 10, 12, 11],
            buttonType: "self",
            winning: 1,
            stakeType: "MEZZA DOZZINA",
            max: 600,
          },
          {
            id: 45,
            cells: [2, 4, 6, 8, 10, 12],
            buttonType: "self",
            winning: 1,
            stakeType: "PARI",
            max: 600,
          },
          {
            id: 46,
            cells: [1, 3, 5, 7, 9, 12],
            buttonType: "self",
            winning: 1,
            stakeType: "ROSSO",
            max: 600,
          },
          {
            id: 47,
            cells: [2, 4, 6, 8, 10, 11],
            buttonType: "self",
            winning: 1,
            stakeType: "NERO",
            max: 600,
          },
          {
            id: 48,
            cells: [1, 3, 5, 7, 9, 11],
            buttonType: "self",
            winning: 1,
            stakeType: "DISPARI",
            max: 600,
          },
          {
            id: 49,
            cells: [3, 6, 9, 12],
            buttonType: "self",
            winning: 2,
            stakeType: "COLONNA",
            max: 1000,
          },
          {
            id: 50,
            cells: [2, 5, 8, 11],
            buttonType: "self",
            winning: 2,
            stakeType: "COLONNA",
            max: 1000,
          },
          {
            id: 51,
            cells: [1, 4, 7, 10],
            buttonType: "self",
            winning: 2,
            stakeType: "COLONNA",
            max: 1000,
          },
        ],
      };
    },
    computed: {
      ...mapState(["drag", "placedChips"]),
    },
    methods: {
      lld() {
        alert("worked");
      },
      enterCell: function(numbers) {
        this.hoverNumbers = numbers;
      },
      leaveCell: function() {
        this.hoverNumbers = [];
      },
      clickCell: function(id, price, winning, stakeType) {
        this.$store.dispatch("placeChip", {
          place: id,
          price,
          winning,
          stakeType,
          key: this.$uuid.v1(),
        });
        localStorage.setItem("placedChips", JSON.stringify(this.placedChips));
      },
      classBindHovering: function(number) {
        return {
          "hover-number": this.isHovering(number),
        };
      },
      isHovering: function(number) {
        // alert('hover');
        return (
          this.drag && this.hoverNumbers && this.hoverNumbers.includes(number)
        );
      },
      getLatestChip: function(placeToSearch) {
        const chips = this.placedChips.filter(
          (chipData) => chipData.place === placeToSearch
        );
        const isLastPlaced =
          this.placedChips[this.placedChips.length - 1] &&
          this.placedChips[this.placedChips.length - 1].place === placeToSearch;
        return {
          price: chips && chips.length ? chips[chips.length - 1].price : null,
          isLastPlaced,
          //winning: chips && chips.length ? chips[chips.length - 1].winning : null,
        };
      },
    },
  };
</script>

<style lang="scss" scoped>
  .betting-table {
    position: relative;

    img {
      opacity: 1;
    }

    &__portrait {
      display: none;
    }

    .controls {
      .btn {
        position: absolute;
        display: flex;
        place-content: center;
        align-items: center;
      }

      .btn-zero {
        top: 0;
        left: 0;
        width: 5.5vw;
        height: 19.1vw;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          width: 10.5vw;
          height: 34.1vw;
        }
      }

      .col1 .row4 {
        .btn.self {
          @media screen and (max-width: 1800px) and (orientation: portrait) {
            // left: 11vw;
          }
        }
      }

      .col1 .btn {
        left: 5.6vw;

        @media screen and (min-width: 1800px) and (orientation: portrait) {
          left: 5.65vw;
        }

        @media screen and (max-width: 1799px) and (min-width: 1080px) and (orientation: portrait) {
          left: 5.6vw;
        }

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          left: 10.5vw;
        }
      }

      .col2 .btn {
        left: 11.9vw;

        @media screen and (min-width: 1800px) and (orientation: portrait) {
          // left: 5.65vw;
        }

        @media screen and (max-width: 1799px) and (min-width: 1080px) {
          left: 11.9vw;
        }

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          left: 22.25vw;
        }
      }

      .col3 {
        .btn {
          left: 18.1vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            left: 34vw;
          }
        }

        .row4 .btn {
          left: 14vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            left: 26.5vw;
          }
        }
      }

      .col4 {
        .btn {
          left: 24.45vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            left: 45.25vw;

            &.horizontal {
              background-color: transparent;
            }

            &.vertical {
              background-color: transparent;
            }

            &.center {
              background-color: transparent;
            }
          }

          .row3 {
            .btn {
              &.center {
                top: 23.3vw;
                padding: 0;
                margin: 0;
              }

              &.horizontal {
                left: 46vw;
                top: 23.5vw;
              }
            }
          }
        }

        .row4 .btn {
          left: 22.3vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            left: 41.8vw;
          }
        }
      }

      .col5 {
        .btn {
          left: 30.65vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            left: 54.5vw;
            left: 57.5vw;
            width: 7vw;
            height: 11vw;
          }
        }

        .row1 {
          .btn {
            top: 0.2vw;
            width: 4.25vw
          }
        }

        .row2 {
          .btn {
            width: 4.25vw
          }
        }

        .row3 {
          .btn {
            width: 4.25vw
          }
        }

        @media screen and (min-width: 1800px) and (orientation: portrait) {
          .row3 {
            .btn {
              top: 23.5vw;
            }
          }
        }
      }

      .row1 .btn {
        top: 0.2vw;

        @media screen and (min-width: 1800px) and (orientation: portrait) {
          top: 2px;
        }

        @media screen and (max-width: 1799px) and (min-width: 1080px) and (orientation: portrait) {
          top: 2px;
        }

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 0.7vw;
        }
      }

      .row1 .vertical {
        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 0vw !important;
        }
      }

      .row2 .btn {
        top: 6.4vw;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 11.9vw;
        }
      }

      .row3 .btn {
        top: 12.75vw;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 23.3vw;
        }
      }

      .row4 .btn {
        top: 18.9vw;
        width: calc(calc(100% - 9.7vw) / 3);
        height: 4.4vw;

        @media screen and (min-width: 1800px) and (orientation: portrait) {
          top: 19.1vw;
        }

        @media screen and (max-width: 1799px) and (min-width: 1080px) {
          top: 19.2vw;
        }

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 34.5vw;
          width: calc(calc(100% - 19.7vw) / 3);
          height: 8.5vw;
        }
      }

      .row5 .btn {
        top: 23.55vw;
        width: calc(calc(100% - 9.7vw) / 4);
        height: 4.4vw;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          top: 42.6vw;
          width: calc(calc(100% - 28.7vw) / 3);
          height: 8.5vw;
        }
      }

      .col1,
      .col2,
      .col3,
      .col4,
      .col5 {
        .btn.self {
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .table-landscape {
    width: 100%;
    height: 100%;

    .green {
      background-color: #199e20;
    }

    .red {
      background-color: #a1050d;
    }

    .black {
      background-color: #000;
    }

    .numbers {
      display: grid;
      width: 100%;
      grid-template-columns: 5.5vw repeat(4, 1fr) 4.2vw;

      @media screen and (max-width: 1080px) and (orientation: portrait) {
        grid-template-columns: 10.5vw repeat(4, 1fr) 7.2vw;
      }

      border: 2px solid white;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 4vw;

      .num {
        @media screen and (max-width: 1080px) and (orientation: portrait) {
          span {
            transform: rotate(270deg);
            font-size: 20px;
          }
        }
      }

      .num,
      .sector {
        display: flex;
        height: 6.3vw; //edited
        align-items: center;
        border: 1px solid white;
        color: white;
        font-size: 3vw;
        justify-content: center;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          height: 11.3vw;
        }
      }

      .zero {
        border: none;
        border-right: 2px solid white;
        height: 100%;
        grid-row-start: 1;
        grid-row-end: 4;
      }

      .sector {
        border-right-width: 0;
        font-size: 2.4vw;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          font-size: 3.4vw;
        }

        span {
          transform: rotate(270deg);
        }
      }

      .hover-number {
        background-color: #4cbf77;
      }
    }

    .sectors {
      width: calc(100% - 9.7vw);
      margin-left: 5.5vw;

      @media screen and (max-width: 1080px) and (orientation: portrait) {
        width: calc(100% - 18vw);
        margin-left: 10.5vw;
      }

      border: 2px solid white;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      overflow: hidden;

      >div {
        display: flex;
        width: 100%;
      }

      .sector {
        display: flex;
        flex: 1 0;
        height: 4.4vw;
        align-items: center;
        border: 1px solid white;
        font-size: 2vw;
        color: white;
        justify-content: center;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          height: 8vw;
          font-size: 3.4vw;
        }

        &.num-type {
          font-size: 1.3vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            font-size: 2.4vw;
          }
        }

        &.num-color {
          overflow: hidden;

          span {
            height: 100%;
            -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 100%;
          }
        }
      }
    }
  }

  .sector .vt {
    font-family: 'AbhayaLibre-Extra';
  }

  @media screen and (max-width: 1080px) and (orientation: portrait) {
    .betting-table__landscape {
      transform: rotate(90deg);
    }

    .numbers {
      margin-top: 0;
    }
  }
</style>