<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="inner-wrapper">
            <div class="close-wrapper">
              <button class="btn settings-button" @click="$emit('closeSettings')">
                <img class="settings-button__img" src="../assets/images/settings/extit.png"/>
              </button>
            </div>
            <div class="modal-body">
              <slot name="body">
                <div class="column">
                  <div class="settings-button">
                    <div class="title">Info</div>
                    <button class="btn settings-button" @click="onInfoClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/info.png" />
                    </button>
                  </div>
                  <div class="settings-button">
                    <div class="title">Scelta lingua</div>
                    <div class="dropdown-btn">
                      <button class="btn settings-button" @click="openDropdownMenu()">
                        <img class="settings-button__img" src="../assets/images/settings/language.png" />
                      </button>
                      <div class="dropdown-content" :class="showDropdown ? 'show' : ''">
                        <a @click="onLanguageChanged('IT')">IT</a>
                        <a @click="onLanguageChanged('EN')">EN</a>
                      </div>
                    </div>
                  </div>
                  <div class="settings-button">
                    <div class="title">Incassa ed esci</div>
                    <button class="btn settings-button" @click="onCashoutClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/cashout.png" />
                    </button>
                  </div>
                  <div class="settings-button" />
                </div>
                <div class="column">
                  <div class="settings-button">
                    <div class="title">Cronologia</div>
                    <button class="btn settings-button" @click="onChronologyClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/history.png" />
                    </button>
                  </div>
                  <div class="settings-button">
                    <div class="title">Account utente</div>
                    <button class="btn settings-button" @click="onAccountClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/account.png" />
                    </button>
                  </div>
                  <div class="settings-button">
                    <div class="title">Aggiungi Fondi</div>
                    <button class="btn settings-button" @click="onAddFundsClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/add_money.png" />
                    </button>
                  </div>
                  <div class="settings-button">
                    <div class="title">Altri giochi</div>
                    <button class="btn settings-button" @click="onMoreGamesClicked()">
                      <img class="settings-button__img" src="../assets/images/settings/more_game.png" />
                    </button>
                  </div>
                </div>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: function() {
    return {
      showDropdown: false,
      domain: '',
      tld: ''
    };
  },
  computed: {
    ...mapState([
      "deviceWidth",
      "deviceHeight"
    ])
  },
  methods: {
    onLanguageChanged(lang){
      // TODO: emit language change
      console.log("lang", lang);
      this.showDropdown = false;
    },
    openDropdownMenu() {
      this.showDropdown = !this.showDropdown;
    },
    onInfoClicked() {},
    onAccountClicked() {},
    onMoreGamesClicked() {},
    onChronologyClicked() {},
    onAddFundsClicked() {},
    onCashoutClicked() {},
  },
  mounted() {
    this.domain = location.host.split('.');
    this.tld = this.domain[this.domain.length - 1];
    console.log(this.tld);
  }
};
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 60vw;
    margin: 0 auto;
    padding: 5px;
    background-color: #4d4c4c;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    .inner-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 33px;
      background-color: #2b2a2a;
      padding: 2rem 1.5rem;

      @media screen and (max-width: 1080px) and (orientation: portrait) {
        padding: 10px;
      }

      .dropdown-btn {
        position: relative;

        .btn.settings-button {
          img {
            z-index: 11;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          bottom: -85px;
          left: calc(50% - 2vw);
          background-color: #4d4c4c;
          border: 3px solid #e6d593;
          border-radius: 0px 0px 50px 50px;
          color: white;
          width: 4vw;
          overflow: auto;
          z-index: 9;

          @media only screen and (max-width: 1080px) and (orientation: portrait) {
            width: 28px;
            left: calc(50% - 14px);
            bottom: -50px;
          }

          &.show {
            display: block;
          }

          a {
            color: white;
            text-decoration: none;
            display: block;
            width: 2.5vw;
            margin: auto;
            margin: 15px auto 10px;
            padding-bottom: 5px;
            font-weight: bold;
            z-index: 10;
            text-align: center;

            &:first-child {
              border-bottom: 1px solid #e6d593;
              padding-top: 10px;
            }

            @media only screen and (max-width: 1080px) and (orientation: portrait) {
              margin: 5px auto;
              font-size: 10px;
            }
          }
        }
      }

      .close-wrapper {
        position: absolute;
        right: -2.5vw;
        top: -2.5vw;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          right: calc(50% - 7vw);
          top: -7vw;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          margin: 20px 0 40px;
        }

        .column {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          min-height: 160px;
          width: 100%;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            margin-bottom: 20px;
            justify-content: space-around;
          }

          &:first-child {
            margin-bottom: 50px;
          }

          .settings-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 25%;

            .title {
              color: white;
              text-transform: uppercase;
              font-size: 1rem;
              margin-bottom: 10px;

              @media screen and (max-width: 1080px) and (orientation: portrait) {
                font-size: 10px;
              }
            }
          }
        }
      }

      .settings-button {
        .settings-button__img {
          width: 6vw;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            width: 12vw;
          }
        }
      }
    }

    @media screen and (max-width: 1080px) and (orientation: portrait) {
      width: 90%;
    }
  }
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
