<template>
  <div class="summary">
    <div class="summary-info">
      <div>SALDO MODALITA DEMO</div>
      <div class="summary-info-value">€ {{ (recent_money ).toFixed(2) }}</div>
    </div>
    <div class="summary-info text-white">PIAZZA LE TUE PUNTATE</div>
    <div class="summary-info">
      <div>PUNTATA TOTALE</div>
      <div class="summary-info-value">€ {{ stakeTotal }}</div>
    </div>


    <div class="summary-controls">
      <button class="btn" @click="$emit('volume')">
        <img v-if="bg_audio_volume + effect_audio_volume !== 0" src="../assets/images/footer/btn_volume.png" />
        <img v-else src="../assets/images/footer/btn_mute.png" />
      </button>
      <button class="btn" @click="$emit('settings')">
        <img src="../assets/images/footer/btn_setup.png" />
      </button>
      <button class="btn" @click="triggerFullscreen()">
        <img src="../assets/images/footer/btn_fullscreen.png" />
      </button>
    </div>



    <alert-alert />
  </div>
</template>

<script>
  import {
    mapGetters,
    mapState
  } from "vuex";
  import state from "../store/initialState";

  export default {
    name: "Summary",
    computed: {
      recent_money() {
        return state.money
      },
      ...mapState([
        "money",
        "winTot",
        "audio_enabled",
        "audio_bg",
        "bg_audio_volume",
        "effect_audio_volume"
      ]),
      ...mapGetters(["stakeTotal"]),
    },
    mounted() {
      if (this.audio_enabled) {
        this.audio_bg.play();
      }
    },
    methods: {
      triggerFullscreen() {
        var elem = document.documentElement
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) {
          /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          /* IE11 */
          elem.msRequestFullscreen();
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  br {
    display: none;
  }

  .summary {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    width: 100vw;

    @media screen and (max-width:1080px) and (orientation: portrait) {
      padding: 5px 0px;

      br {
        display: block;
      }
    }

    &-info {
      display: flex;
      flex-grow: 1;
      align-items: center;
      align-content: center;
      // flex: 0 0 auto;

      flex-wrap: wrap;
      // font-size: clamp(12px, 1.45vw, 28px);
      color: var(--yellow-color);

      @media screen {
        @media (orientation: landscape) {
          justify-content: flex-start;

          @media (min-width: 993px) {
            font-size: clamp(16px, 1.45vw, 28px);
          }

          @media (min-width: 768px) and (max-width: 992px) {
            font-size: clamp(11px, 1.45vw, 28px);
          }

          @media (max-width: 767px) {
            font-size: clamp(8px, 1.45vw, 28px);
          }
        }

        @media (orientation: portrait) {
          justify-content: center;
          white-space: nowrap;
          transform: scale(.7, 1);

          @media (min-width: 360px) and (max-width: 1080px) {
            font-size: clamp(11px, 1.45vw, 15px);
          }

          @media (max-width: 359px) {
            font-size: clamp(9px, 1.45vw, 15px);
          }
        }
      }

      // @media screen and (min-width: 993px) and (orientation: landscape) {
      //   font-size: clamp(16px, 1.45vw, 28px);
      // }

      // @media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
      //   font-size: clamp(11px, 1.45vw, 28px);
      // }

      // @media screen and (max-width: 767px) and (orientation: landscape) {
      //   font-size: clamp(8px, 1.45vw, 28px);
      // }

      // @media screen and (orientation: landscape) {
      //   justify-content: flex-start;
      // }

      // @media screen and (orientation: portrait) {
      //   justify-content: center;
      // }

      // @media screen and (min-width: 360px) and (max-width: 1080px) and (orientation: portrait) {
      //   white-space: nowrap;
      //   font-size: clamp(11px, 1.45vw, 15px);
      //   transform: scale(.7, 1);
      // }

      // @media screen and (max-width: 359px) and (orientation: portrait) {
      //   white-space: nowrap;
      //   font-size: clamp(9px, 1.45vw, 15px);
      //   transform: scale(.7, 1);
      // }

      &-value {
        margin: 0 5px;
        color: var(--white-color) !important;
      }
    }

    &-controls {
      display: flex;
      // margin-left: 13vw;
      align-items: center;

      @media screen and (max-width: 1080px) and (orientation: portrait) {
        margin-left: 0px;
      }
    }
  }

  .btn {
    margin: unset !important;
    // margin: 0 3px !important;
    padding: 0 3px !important;
    // padding: unset !important;
    // ;
    // width: 40px;
    // height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    // display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &.active {
      background-color: var(--yellow-color);
    }

    @media screen and (max-width: 993px) and (orientation: landscape) {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 1080px) and (orientation: portrait) {
      margin: 3px;
      margin-left: -20px;
    }

    img {
      width: 100%;
    }
  }
</style>