<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="inner-wrapper">
            <div class="close-wrapper">
              <button class="btn settings-button" @click="$emit('closeVolume')">
                <img class="settings-button__img" src="../assets/images/settings/extit.png" />
              </button>
            </div>
            <div class="modal-body">
              <slot name="body">
                <div class="volume-modal">
                  <div class="slider-wrapper">
                    <div class="percentage">{{ gameSoundValue.toFixed(0) }}%</div>
                    <vue-slider :change="onGameSoundChanged()" v-bind="slidersOptions" v-model="gameSoundValue" />
                    <span class="label">SOTTOFONDO</span>
                  </div>
                  <div class="slider-wrapper">
                    <div class="percentage">{{ effectSoundValue.toFixed(0) }}%</div>
                    <vue-slider :change="onEffectSoundChanged()" v-bind="slidersOptions" v-model="effectSoundValue" />
                    <span class="label">EFFETTI SONORI</span>
                  </div>
                </div>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import {
    mapState
  } from "vuex";
  import VueSlider from "vue-slider-component";
  import "vue-slider-component/theme/antd.css";
  import state from "../store/initialState";

  export default {
    name: "VolumeControl",
    components: {
      VueSlider
    },
    props: {
      bgVolume: {
        type: Number,
      },
      effectVolume: {
        type: Number,
      },
    },
    computed: {
      ...mapState([
        "audio_enabled",
        "audio_bg"
      ])
    },
    data: function() {
      return {
        gameSoundValue: this.bgVolume * 100,
        effectSoundValue: this.effectVolume * 100,
        slidersOptions: {
          dotSize: 24,
          width: 10,
          height: 220,
          contained: false,
          direction: "btt",
          data: null,
          dataLabel: "label",
          dataValue: "value",
          min: 0,
          max: 100,
          interval: 1,
          disabled: false,
          clickable: true,
          duration: 0.5,
          adsorb: false,
          lazy: true,
          tooltip: "active",
          tooltipPlacement: "left",
          tooltipFormatter: void 0,
          useKeyboard: false,
          keydownHook: null,
          dragOnClick: false,
          enableCross: true,
          fixed: false,
          minRange: void 0,
          maxRange: void 0,
          order: true,
          marks: false,
          dotOptions: void 0,
          dotAttrs: void 0,
          process: true,
          dotStyle: {
            border: 0
          },
          railStyle: {
            background: "#4d4c4c"
          },
          processStyle: {
            background: "#fff"
          },
          tooltipStyle: void 0,
          stepStyle: void 0,
          stepActiveStyle: void 0,
          labelStyle: void 0,
          labelActiveStyle: void 0,
        },
        isGameSoundDisabled: false,
        isEffectSoundDisabled: false,
      };
    },
    mounted() {
      if (this.audio_enabled) {
        this.audio_bg.play();
      }
    },
    watch: {
      money(value) {
        if (value < state.moneyStaked) {
          this.$Alert.alert({
            type: 'warning',
            message: `<h2>Game Over!</h2>`,
            timeout: 4500,
          })
        }
      }
    },
    methods: {
      showVolumeModal() {
        this.volumeModal = true;
      },
      closeVolumeModal() {
        this.volumeModal = false;
      },
      onGameSoundChanged() {
        if (this.gameSoundValue <= 0) this.isGameSoundDisabled = true;
        else this.isGameSoundDisabled = false;

        this.$store.dispatch("controlAudio", {
          type: "background",
          volume: this.gameSoundValue,
        });
      },
      onGameSoundBtnClicked() {
        this.isGameSoundDisabled = !this.isGameSoundDisabled;
        this.gameSoundValue = 0;
      },
      onEffectSoundChanged() {
        if (this.effectSoundValue <= 0) this.isEffectSoundDisabled = true;
        else this.isEffectSoundDisabled = false;

        this.$store.dispatch("controlAudio", {
          type: "effect",
          volume: this.effectSoundValue,
        });
      },
      onEffectSoundBtnClicked() {
        this.isEffectSoundDisabled = !this.isEffectSoundDisabled;
        this.effectSoundValue = 0;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

    .modal-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    .modal-container {
      position: absolute;
      bottom: 25px;
      right: 45px;
      // top: 25px;
      width: 320px;
      padding: 5px;
      background-color: #4d4c4c;
      border-radius: 40px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;

      .inner-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 33px;
        background-color: #2b2a2a;
        padding: 2.5rem 1.5rem;

        @media screen and (max-width: 1080px) and (orientation: portrait) {
          padding: 10px;
        }

        .close-wrapper {
          position: absolute;
          right: -2.5vw;
          top: -2.5vw;
          width: 91px;

          @media screen and (max-width: 1080px) and (orientation: portrait) {
            right: calc(50% - 7vw);
            top: -7vw;
          }
        }
      }
    }
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .volume-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .slider-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-left: 15px;
      margin-right: 15px;

      .percentage {
        background-color: #4d4c4c;
        border-radius: 5px;
        padding: 5px 15px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
      }

      .label {
        margin-top: 20px;
        color: white;
      }
    }
  }
</style>