<template>
  <transition>
    <div class="wheel-wrapper">
      <div class="wheel">
        <img src="../assets/images/wheel_frame.png" class="wheel-frame" />
        <img ref="wheel_numbers" class="wheel-numbers default" :style="[is_turning ? displayWheelNone : resetWheelStyle]" :src="getIdleWheelImage(this.current_result)" />
        <img ref="wheel_numbers" class="wheel-numbers default" :style="[is_turning ? rotateWheelStyle : displayWheelNone]" src="../assets/images/wheel_numbers.png" />
        <div v-if="current_result !== -1" class="winner-number" :class="{ visible: showWinnerNumber }" :style="{ backgroundImage: 'url(' + getColor(this.current_result) + ')' }">
          {{ this.current_result }}
        </div>
        <!-- <div v-if="current_result !== -1" class="winner-number" :class="{ visible: showWinnerNumber }">
          {{ this.current_result }}
        </div> -->
        <div class="wheel-handle" ref="wheelHandle">
          <img src="../assets/images/handles.png" class="wheel-handle__handles" :style="[is_turning ? rotateWheelStyle : resetWheelStyle]" />
          <img src="../assets/images/handle_base.png" class="wheel-handle__base" />
          <img src="../assets/images/handle_top.png" class="wheel-handle__top" />
        </div>
        <alert-alert />
      </div>
      <img src="../assets/images/ball.png" class="ball" ref="ball" :v-if="is_turning"/>
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";
import state from "../store/initialState";
import { timer, fromEvent } from "rxjs";
import { debounce, tap } from "rxjs/operators";

export default {
  name: "Wheel",
  data: function() {
    return {
      random_diamond: 1,
      showWinnerNumber: false,
      isResizing: false,
    };
  },
  computed: {
    ...mapState([
      "is_turning",
      "turning_duration",
      "delay",
      "turning_speed",
      "turning_deg",
      "latest_result",
      "current_result",
      "wheel_numbers",
      "wheel_colors",
      "money",
      "you_win",
      "mode",
      "loading",
      "ball_duration",
      "winTot",
      "winSum",
      "last_win",
      "last_win_flag",
      "moneyStaked"
    ]),
    rotateWheelStyle() {
      return {
        "-webkit-transition": `-webkit-transform ${this.turning_duration +
          this.delay}s cubic-bezier(0,0,0.58,1)`,
        "-webkit-transform":
          "translate(-50%, -50%) rotate(" + this.turning_deg + "deg)",
      };
    },
    displayWheelNone() {
      return {
        zIndex: "-999",
      };
    },
    resetWheelStyle() {
      if (this.isResizing) return { animation: "" };
      else {
        if (this.loading)
          return { animation: "wheelMove 18s linear infinite" };
        else return { animation: "" };
      }
    },
  },
  watch: {
    you_win(value) {
      // let message;
      if (value == 1) {
        // message = "HAI VINTO €" + state.winTot + "!";
      } else if (value == 2) {
        // message = "HAI PERSO!";
      }
      this.$emit('status');
    },
    last_win_flag(value) {
      if (value) {
        this.$Alert.alert({
          type: "success",
          message: `<h2>You've reached to Max_Win!</h2>`,
          timeout: 3500,
        });
      }
    },
    money(value) {
      if (value < 1) {
        if (this.$refs.wheel_numbers) {
          this.$refs.wheel_numbers.style.filter = "";
          this.$refs.wheel_numbers.style.animation = "wheelMove 18s linear infinite";
        }
      }

      if(value < state.moneyStaked) {
        // let message = 'GAME OVER!';
        this.$emit('status');
      }
    },
    is_turning(newValue) {
      console.log("is turning-------", newValue)
      if (newValue) {
        this.showWinnerNumber = true;
        this.random_diamond = state.random_diamond;
        switch (this.random_diamond) {
          case 1:
          case 2:
            state.sync_offset = 0;
            break;
          case 3:
          case 4:
            state.sync_offset = 3;
            break;
          case 5:
          case 6:
            state.sync_offset = 6;
            break;
          case 7:
          case 8:
            state.sync_offset = 9;
            break;
          default:
            break;
        }
        // console.log("Random wheel rotation offset: ", state.sync_offset);
        // console.log("Random rotation change level: ", state.turning_deg);
        this.$refs.ball.style.zIndex = 9;
        // this.$refs.wheelHandle.style.display = "inherit";
        this.$refs.ball.style.animation = `${this.turning_duration +
          this.delay}s linear forwards orbit${this.random_diamond}_${
          state.random_rotation_index
        }`;

        // console.log("turning_duration", this.turning_duration);
        // console.log("delay", this.delay);

        setTimeout(() => {
          this.$store.dispatch("stopRoulette");
          this.$refs.ball.style.animation = "none";
          // this.$refs.wheelHandle.style.display = "none";
          this.$refs.ball.style.zIndex = -1;
          if (this.mode === "autoStart-end" || this.mode === "auto-turbo-end" || this.mode === "normalSpin-end" || this.mode === "turbo-end")
            this.$store.dispatch("clearAll");
            // this.$store.dispatch("refreshAvailableMoney");
        }, (this.turning_duration + this.delay) * this.ball_duration);
      } else{
        // alert(newValue);
        // this.$store.dispatch("stopRoulette");
        // this.$refs.ball.style.animation = "none";
        // this.$refs.wheel_numbers.style.animation = "wheelMove 18s linear infinite";
      }
    },
  },
  methods: {
    getIdleWheelImage(number){
      console.log("number: ", number)
      let img;
      let index = -1;
      this.wheel_numbers.forEach((n, idx) => {
        if (n === number) index = idx;
      });

      var color = this.wheel_colors[index];

      if (color === '#000000') {
        img = require("../assets/images/wheel_numbers_black.png");
      } else if (color === '#D60015') {
        img = require("../assets/images/wheel_numbers_red.png");
      } else if(color === '#19ED14'){
        img = require("../assets/images/wheel_numbers_green.png");
      } else {
        img = require("../assets/images/wheel_numbers.png");
      }

      return img;
    },
    getColor(number) {
      let img;
      let index = -1;
      this.wheel_numbers.forEach((n, idx) => {
        if (n === number) index = idx;
      });

      var color = this.wheel_colors[index];

      if (color === '#000000') {
        img = require("../assets/images/winner/black.png");
      } else if (color === '#D60015') {
        img = require("../assets/images/winner/red.png");
      } else{
        img = require("../assets/images/winner/green.png");
      } 
      return img;
    },
  },
  mounted() {
    const resizeHandler$ = fromEvent(window, "resize").pipe(
      tap(() => {
        this.isResizing = true;
      }),
      debounce(() => timer(500))
    );
    resizeHandler$.subscribe(() => {
      this.isResizing = false;
    });
  },
};
</script>

<style lang="scss" scoped>
@mixin wheelComponents() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  will-change: transform;
}
.wheel-wrapper {
  position: relative;
}
.wheel {
  position: relative;
  img {
    pointer-events: none;
  }
  @media screen and (max-width: 1080px) and (orientation: portrait) {
    width: clamp(260px, 70vw, 270px);
  }
  @media screen and (max-width: 380px) and (orientation: portrait) {
    width: 65vw;
  }
  &-frame {
    max-width: 100%;
    @media screen and (max-width: 1080px) and (orientation: portrait) {
      width: clamp(200px, 80vw, 525px);
    }
  }
  &-numbers {
    width: clamp(200px, 27.3vw, 525px);
    visibility: hidden;
    &.default,
    &.selected {
      visibility: visible;
    }
    @include wheelComponents;
    @media screen and (max-width: 1080px) and (orientation: portrait) {
      width: clamp(175px, 55vw, 210px);
    }
    @media screen and (max-width: 380px) and (orientation: portrait) {
      width: 50vw;
      top: 50%;
    }
  }
  &-handle {
    img {
      @include wheelComponents;
    }
    &__handles {
      width: clamp(90px, 12.8vw, 247px);

      @media screen and (max-width: 380px) and (orientation: portrait) {
        width: 24.5vw;
      }
    }
    &__base {
      width: clamp(30px, 4vw, 80px);
    }
    &__top {
      width: clamp(15px, 2vw, 40px);
    }
  }
  .winner-number {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: clamp(50px, 14.3vw, 525px);
    height: clamp(50px, 14.3vw, 525px);
    color: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11rem;
    font-weight: bold;
    font-family: 'AbhayaLibre-Extra';
    background-size: cover;
    &.visible {
      visibility: visible;
    }
    @media screen and (max-width: 1080px) and (orientation: portrait) {
      width: clamp(110px, 14.3vw, 525px);
      height: clamp(110px, 14.3vw, 525px);
      font-size: 80px;
    }
    @media screen and (max-width: 380px) and (orientation: portrait) {
      width: 26vw;
      height: 26vw;
    }
  }
}

.ball {
  z-index: -1;
  @include wheelComponents();
  top: 49.75% !important;
  width: clamp(15px, 1.77vw, 34px);
  height: clamp(15px, 1.77vw, 34px);
  transform-origin: top left;

  @media screen and (max-width: 1080px) and (orientation: portrait) {
    width: 3.5vw;
    height: 3.5vw;
  }
}
</style>
