<template>
  <div class="roulette-game">
    <pulse-loader :loading="!loading" color="green"></pulse-loader>
    <div :class="loading ? 'loaded content-wrapper' : 'content-wrapper'" v-images-loaded:on.progress="imageProgress">
      <span class="history-maxwin__value text-white">MAX WIN €10.000,00</span>
      <div class="game">
        <div class="game-left">
          <Wheel @status="betStatus = true" />
          <ChipField />
        </div>
        <div class="game-center">
          <BettingTable />
          <GameControl />
        </div>
        <div class="game-right">
          <History />
        </div>
      </div>
      <Summary @settings="showSettings = true" @volume="volumeControl = true" />
      <Settings v-if="showSettings" @closeSettings="showSettings = false" />
      <VolumeControl v-if="volumeControl" @closeVolume="volumeControl = false" :bgVolume="bg_audio_volume" :effectVolume="effect_audio_volume" />
      <BetStatus v-if="betStatus" @closeStatus="betStatus = false" />
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";
  import Wheel from "./components/Wheel";
  import VolumeControl from "./components/VolumeControl";
  import BetStatus from "./components/BetStatus";
  import BettingTable from "./components/BettingTable";
  import History from "./components/History";
  import ChipField from "./components/ChipField";
  import GameControl from "./components/GameControl";
  import Summary from "./components/Summary";
  import Settings from "./components/Settings";
  import imagesLoaded from "vue-images-loaded";
  import PulseLoader from "vue-spinner/src/PulseLoader.vue";

  export default {
    name: "App",
    directives: {
      imagesLoaded,
    },
    components: {
      Wheel,
      BettingTable,
      History,
      ChipField,
      GameControl,
      Summary,
      Settings,
      VolumeControl,
      BetStatus,
      PulseLoader,
    },
    data: function() {
      return {
        imageCount: 27,
        betStatus: false,
        showSettings: false,
        volumeControl: false,
        window: {
          width: 0,
          height: 0
        },
      };
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
        this.$store.dispatch("resizeWindow", {
          width: this.window.width,
          height: this.window.height,
        });
      },
      imageProgress() {
        this.imageCount--;
        if (this.imageCount === 0) {
          setTimeout(() => {
            this.$store.dispatch("setLoadState", {
              value: true
            });
          }, 500);
        }
      },
    },
    computed: {
      ...mapState([
        "bg_audio_volume",
        "effect_audio_volume",
        "loading",
        "money"
      ]),
    },
    created() {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener("resize", this.handleResize);
    },
    mounted() {
      this.$store.dispatch("setInitialState", {
        ...this.$oInitData
      });
    },
  };
</script>