@import "../fonts/fonts.css";
@import './landscape.scss';

:root {
  --yellow-color: #f7d31d;
  --black-color: #2a2a2a;
  --green-color: #114702;
  --red-color: #d60015;
  --gray-color: #c9c9c9;
  --light-green-color: #19ed14;
  --white-color: #ffffff;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  // max-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'CarroisGothic';
}

*:focus {
  outline: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

a,
button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
}

.text-red {
  color: var(--red-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.d-none {
  display: none;
}

.roulette-game {
  margin: auto;
  height: 100vh;
  // overflow: hidden;
}

.content-wrapper {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  opacity: 0;
  display: flex;
  height: 100vh;
  align-items: start;
  flex-direction: column;

  &.loaded {
    opacity: 1;
  }
}

.v-spinner {
  position: absolute;
  left: calc(50% - 28.5px);
  top: calc(50% - 11.5px);
}

.game {
  display: flex;
  margin: auto;
  padding: clamp(10px, 4vw, 40px);
  padding-bottom: clamp(10px, 2vw, 20px);
  justify-content: center;
  height: 100%;
  width: 100vw;
  margin-bottom: auto;
}

.game-left {
  touch-action: none;
  -ms-touch-action: none;
  max-width: 41vw; //edited
  height: 42vh; //edited
  padding-right: 7vw;

  @media only screen and (max-width: 1080px) and (orientation: portrait) {
    padding-right: 0px;
    height: unset;
  }

  .wheel-wrapper {
    touch-action: none;
    -ms-touch-action: none;

    .wheel {
      touch-action: none;
      -ms-touch-action: none;

      img {
        touch-action: none;
        -ms-touch-action: none;
      }
    }
  }
}

.game-center {
  max-width: 35vw;
  touch-action: none;
  -ms-touch-action: none;
}

.game-right {
  max-width: clamp(100px, 7.3vw, 140px);
  flex-shrink: 0;
  padding-left: 2vw;
  touch-action: none;
  -ms-touch-action: none;
  top: 41.5vh;
}

.vue-slider-dot {
  position: absolute;
  -webkit-transition: all 0s;
  transition: all 0s;
  z-index: 5;
  width: 18px !important;
  height: 18px !important;
}

.aa-container {
  .aa-notification.success {
    @media only screen and (max-width: 1080px) and (orientation: portrait) {
      border-left-color: white !important;
    }

    h2 {
      @media only screen and (max-width: 1080px) and (orientation: portrait) {
        margin: 0;
      }
    }
  }

  .aa-notification {
    @media only screen and (max-width: 1080px) and (orientation: portrait) {
      text-align: center !important;
    }
  }

  @media only screen and (max-width: 1080px) and (orientation: portrait) {
    top: calc(50% - 26px) !important;
    left: calc(50% - 150px);
  }
}

.num span,
.sector {
  font-family: 'AbhayaLibre-Extra';
}

.history-maxwin__value {
  display: none;

  @media screen and (max-width: 1080px) and (orientation: portrait) {
    display: block;
    position: absolute;
    font-size: 8px;
    padding: 10px;
  }
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  .game {
    // margin-top: 10px; //edited
    padding: 0px;
    align-items: center;
    flex-direction: column;
  }

  .game-left {
    max-width: 80vw;
  }

  .game-center {
    max-width: 65vw;
    margin-top: 30px;
  }

  .game-right {
    position: absolute;
    // top: 77.5vw;
    right: 6vw;
  }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
  .game-center {
    max-width: 65vw;
    // margin-top: 45vw;
  }

  // .game-right {
  //   // top: 85.5vw;
  // }
}

@import './animations.scss';