@media screen {
  @media (orientation: landscape) {
    @media (max-height: 380px)and (min-width: 670px) and (max-width: 992px) {
      .game {
        padding: 10px 10px 0px 10px !important;
      }

      .game-left {
        max-width: 35vw !important;
      }

      .control-wrapper {
        .controls-buttons {

          .dropdown-btn,
          .control-button {
            max-width: 40px;
            // margin-top: 4vw;
            // padding: 0 0.5vw;
          }
        }
      }
    }

    @media (max-height: 380px) and (max-width: 992px) {
      .game-left {

        .wheel-wrapper {
          max-width: 255px;
          max-height: 255px;

          .wheel-numbers {
            max-width: 180px;
          }
        }
      }

      // .control-wrapper {
      //   .controls-buttons {

      //     .dropdown-btn,
      //     .control-button {
      //       max-width: 52px;
      //       // margin-top: 4vw;
      //       // padding: 0 0.5vw;
      //     }
      //   }
      // }
    }

    @media (max-width: 1080px) {
      .game {
        padding: 10px 10px 0px 10px;
      }

      .game-left {
        .game-wrapper {
          .wheel {
            .wheel {
              .winner-number {
                font-size: 50px;
              }
            }
          }
        }
      }

      .game-center {
        .betting-table {
          .betting-table__landscape {
            .numbers {
              margin-top: 0;
            }
          }
        }
      }

      .game-right {
        .history-wrapper {
          margin-top: 0;
        }
      }

      .control-wrapper {
        .turbo-button-wrapper {
          .turbo-button {
            padding-left: 4px;

            img {
              height: 3.4vw;
            }
          }
        }

        .controls-buttons {
          .control-button__text {
            width: auto;
            font-size: 10px;
          }

          .control-button {
            margin-top: 3vw;
            padding: 0 0.5vw;
            width: 9vw;
          }
        }
      }
    }
  }
}